body {
	background: black; /* colore sfondo */
	color: white;      /* colore testo */
}

a{
	color: gray;			/* colore testo della sola intestazione */
	text-decoration: none;	/* preferisco che il link non sia sottolineato */
}

a:hover{
	color: black;		/* colore testo link quando sono sopra col mouse */
	background: white;	/* colore sfondo link ... */
}

.green:hover{
	color: green;		/* colore testo link quando sono sopra col mouse */
	background: gray;	/* colore sfondo link ... */
}

h1{
	font-family: "Verdana", sans-serif; /* font del titolo */
	font-size: 40pt;					/* dimensione titolo*/
}

.indent {
	margin-left:10pt;

}

.spazio_dopo {
	margin-bottom:20px;
}
